@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap");

body {
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgb(203, 122, 110),
    rgb(233, 158, 146)
  );
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: grid;
  place-items: center;
  padding: 2rem;
}

.calcu-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.top-border {
  border-radius: 20px 20px 0 0;
}

.bottom-right-border {
  border-radius: 0 0 20px 0;
}

.bottom-left-border {
  border-radius: 0 0 0 20px;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.output .prev-operand {
  color: rgba(240, 255, 255, 0.568);
}

.output .curr-operand {
  font-size: 2.5em;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  outline: none;
  transition: ease 500ms;
}

.btn:hover {
  background-color: rgb(233, 233, 233);
}

.btn-2 {
  grid-column: span 2;
}

.btn-operator {
  background-color: rgb(238, 133, 117);
}

.btn-operator:hover {
  background-color: rgb(223, 115, 99);
}

.btn-equal {
  background-color: rgb(242, 112, 112);
}

.btn-equal:hover {
  background-color: rgb(224, 114, 114);
}

.btn-method {
  background-color: rgb(223, 223, 223);
}

.btn-method:hover {
  background-color: rgb(209, 209, 209);
}
